{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex">
            {% if 'user' in session %}
                <p class="mb-0 me-3">Bem-vindo, {{ nome_usuario }}</p>
                <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Logout</a>
            {% endif %}
        </div>

        <div class="d-flex">
            <form class="d-inline-flex" role="search" method="POST" action="{{ url_for('index') }}">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>

<div class="container text-center mt-5">
    <h1>O-Listic</h1>
</div>

<div class="container mt-5">
    <h2 class="mb-4">Produtos Disponíveis</h2>
    <div class="row">
        {% for produto in produtos %}
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Usando a URL da imagem do banco -->
                <img src="{{ produto[4] }}" class="card-img-top" alt="{{ produto[1] }}" style="width: 15rem; height: auto;">
                <div class="card-body">
                    <h5 class="card-title">{{ produto[1] }}</h5>
                    <!-- Exibindo a descrição do produto -->
                    <p class="card-descricao">{{ produto[3] }}</p>
                    <p class="card-text">R$ {{ "%.2f"|format(produto[2]) }}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-primary">Add Carrinho</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
